@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Pleasanton, CA.
</address>

<address>
    <strong>Ryan White</strong> <a href="mailto:ryan@ryanwhite.org">mailto:ryan@ryanwhite.org</a><br />
</address>
